#docker-compose.override.yml
services:
  certnegativa:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./app:/app
    env_file: .env          # â† hereda todas, incluida SQL_CONN
    environment:
      PYTHONUNBUFFERED: 1
      DISPLAY: :99
    command: >
      bash -c "
      rm -f /tmp/.X99-lock && rm -rf /tmp/chrome_* &&
      Xvfb :99 -screen 0 1366x768x24 &
      exec python obtener_certificacion_negativa.py"

